
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html,body{
	
	font-family:'筑紫A丸ゴシック','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}


.main{
	width:100%;
	height:100vh;
	background-color: red;
}

.center-main{
	width: 700px;
	height: 250px;
	background-color: gold;
	margin:0 auto;
}
.center-main-name{
	font-size:32px;
	color:#FFFFFF;
	text-align: center;
}

.center-main-text{
	color:#FFFFFF;
    text-align: center;
	}


